{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ 'Charles\' site admin' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Tutorial administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
